html *
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/* .navbar-inner {
    background: transparent;
} */

.navbar {
    background-color: ghostwhite;
}

.jumbotron {
    background-color:#add8e6;
    margin-bottom:0;
    text-align:center;
}


h1 {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
}

h1 + p {
    margin-top: 18px;
    font-size: 20px;
}

#project_description {
    background-color: gainsboro;
}

#my_dataviz {
    text-align: center;
}

#main-visualization {
    text-align: center;
}

.fit-picture {
    margin-left: auto;
    width: 200px;
}

.fill_picture {
    width: fit-content;
    height: fit-content;
}

.portfolio-box {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}
