html *
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.navbar {
    background: transparent;
    z-index: 1;
}

.jumbotron {
    margin-bottom:0;
}

body {
    font-size: 14px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
}

h1 + p {
    margin: 18px;
    font-size: 20px;
    text-align: justify;
}

h2 {
    font-weight: 600;
    color: #202020;
    margin: 22px;
}

h2 + p {
    margin: 18px;
    font-size: 16px;
}

.vizu_intro {
    width: 100%;
    height: 100%;
}

.label {
    display: block;
}

/* --- Sections --- */
#title {
    background-color:#add8e6;
}

#project_description {
    background-color: gainsboro;
}

#cy_container {
    width: 100vw;
    height: 100vh;
}

/* --- Graphe --- */
#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: left;
    left: 0;
    top: 0;
    z-index: 5;
}

.config {
    position: absolute;
    right: 0;
    padding-top: 10px;
    height: 100%;
    width: 22em;
    background: rgba(160, 179, 220, 0.666);
    box-sizing: border-box;
    color: black;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    overflow: auto;
    z-index: 10;
}

.config .label {
    display: block;
    text-align: left;
    margin-left: 20px;
}

.config-toggle {
    position: absolute;
    right: 0;
    padding: 1em;
    margin: 0.2em;
    cursor: pointer;
    color: #000000;
    z-index: 9999999;
}

.config-closed .config {
    opacity: 0;
    pointer-events: none;
}

.config-closed #cy {
    right: 0;
}

.slider {
    width: 80%;
}

#graphSelectMode {
    margin-bottom: 20px;
}

/* ---- contry trends in Data ---- */
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
    stroke-opacity: .5;
}
